.ButtonFirstType {
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #0966cd;
}

.ButtonSecondType {
  color: #121028;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: white;
}
